<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.toasteacomputing.finalmark"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/final_mark_launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--Splash screen set as launching activity-->
        <activity
            android:name="za.co.toasteacomputing.finalmark.ActivitySplash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main activity -->
        <activity
            android:name="za.co.toasteacomputing.finalmark.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity android:label="@string/result_sheet_title" android:name="ActivityResults"/>
        <activity android:label="@string/help_title" android:name="ActivityHelp"/>
        <activity android:label="@string/dialog_save_title" android:name="DialogSave" android:theme="@android:style/Theme.Holo.Dialog"/>
        <activity android:label="@string/dialog_load_title" android:name="DialogLoad" android:theme="@android:style/Theme.Holo.Dialog"/>
    </application>

</manifest>
